
			<% if @user.save %>

			<h1>Félicitations <%= @user.email %>!</h1>
			<p> Tu es bien inscrit à la newsletter, très bonne journée à toi et à bientôt avec THP Lille Mega Zlatan! </p>
			<p> Rendez-vous sur <a href="http://thehackingproject.org"> The Hacking Project</a> pour t'inscrire!</p>

			<% else %>

			<h1>T'es déjà inscrit à la newsletter ptit malin <%= @user.email %>!</h1>
			<p> Tu peux quand même aller sur <a href="http://thehackingproject.org"> The Hacking Project</a> pour t'inscrire à la prochaine session!</p>

			<% end %>            
