<h1>Félicitations <%= @user.email %>!</h1>
<p> Tu es bien inscrit, très bonne journée à toi et à bientôt avec THP Lille Double Zlatan! </p>
<p> Rendez-vous sur <a href="httm://thehackingproject.org"> The Hacking Project</a> pour t'inscrire!</p>

