// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
	color: white;
	font-size: 200%;
	position: relative;
	top: 5px;
	font-weight: 700;
}

* {
	font-family: 'Roboto', sans-serif;
}

.section-carousel {
	.carousel-inner {
		width: 50% !important;
		margin: auto;
	}
}